.arm-menu{
    margin-left: 600px;
}

.arm-menu li{
    padding:0px 20px;
}

@media only screen and (max-width: 600px) {
    .arm-menu{
        margin-left: 0px;
    }
    .arm-menu li{
        padding:0px 0px;
    }
    
  }