.arm-menu{
    margin-left: 600px;
}
/* .arm-nav{
   background: linear-gradient(78.2deg, rgba(4, 24, 54, 0.9) 28.3%, rgba(18, 49, 97, 0.9) 81.09%), linear-gradient(114.17deg, #6BFFE8 -75.12%, #68F8E5 -68.06%, #49B6C8 -0.48%, #358DB6 48.62%, #2E7DAF 73.85%)
} */
.arm-menu li{
    padding:0px 20px;
}


@media only screen and (max-width: 800px) {
    .arm-menu{
        margin-left: 0px;
    }
  
    
  }