.arm-main-container {
  position: relative;
  min-height: 100vh;
}

.arm-menu {
  margin-left: 600px;
}

.arm-menu li {
  padding: 0px 20px;
}

@media only screen and (max-width: 800px) {
  .arm-menu {
    margin-left: 0px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
