/* header */
.brand{
    font-family: serif;
    font-weight: bold;
}
.brand::first-letter{
    color: red;
}

.brand span { display: inline-block; }

.brand span::first-letter {
    color: red;
    
}

/* post css */


.arm-card{
    width: 18rem;
}
.MuiCircularProgress-root {     left: 43%;     position: absolute;     top: 44vh;  }

.custom-image{
   background-image: url('https://bootdey.com/img/Content/avatar/avatar3.png');
}


body {
    background:#eee;
}
.posts-content{
    margin-top:20px;    
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}
.default-style .ui-bordered {
    border: 1px solid rgba(24,28,33,0.06);
}
.ui-bg-cover {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}
.ui-rect {
    padding-top: 50% !important;
}
.ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
    position: relative !important;
    display: block !important;
    padding-top: 100% !important;
    width: 100% !important;
}
.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.bg-dark {
    background-color: rgba(24,28,33,0.9) !important;
}
.card-footer, .card hr {
    border-color: rgba(24,28,33,0.06);
}
.ui-rect-content {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}
.default-style .ui-bordered {
    border: 1px solid rgba(24,28,33,0.06);
}


/* fa icon class hover */
.fa-pencil-square-o:hover{
    color: rgb(0, 255, 0) ;

}
.fa-thumbs-up:hover{
    color: blue;
}
.fa-trash:hover{
    color: red;
}
.fa-plus-square:hover{
    color: rgb(0, 255, 0) ;
}
.fa-sign-out:hover{
    color: red;
    font-size: 25px;
}

/* icon style */
.fa-sign-out{
    font-size: 20px !important;
}
.fa-plus-square{
    font-size: 20px !important;
}
