
.arm-container{
    margin-left: 180px !important;
}
.h1-center{
    padding-left: 200px;
}
/* post css */
.arm-card{
    width: 18rem;
}
.MuiCircularProgress-root {     left: 43%;     position: absolute;     top: 44vh;  }